/*Reset*/
body,
h1,
h2,
ul {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Georgia, serif;
  color: #252525;
  background: #fec63e;
}
* {
  box-sizing: border-box;
}

/*Menu*/
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #fec63e;
  text-align: right;
  z-index: 10;
}
.menu-nav ul li {
  display: inline-block;
  margin: 30px;
  margin-right: 110px;
}
.menu-nav ul li a {
  text-decoration: none;
  color: #fec63e;
  background: #000;
  font-size: 1.125em;
  font-weight: normal;
  padding: 5px 20px;
  border: 2px solid #000;
  border-radius: 10px;
}
.menu-nav ul li a:hover {
  color: #000;
  background: #fec63e;
  font-weight: bold;
}
/*Titulo*/
.introducao {
  width: 100%;
  height: 120px;
  margin-top: 96px;
  padding: 20px;
  text-align: center;
}
.introducao h1 {
  font-size: 4em;
  text-transform: uppercase;
  color: #000;
}
.introducao h2 {
  font-size: 1.125em;
  padding-top: 8px;
  font-style: italic;
}
.introducao::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #000;
  margin: 10px auto;
}
/*Portifolio*/

.portfolio {
  display: flex;
  padding: 35px;
}
.flex-item {
  background: #000;
  color: gray;
  flex: 1;
  margin: 20px;
  padding: 8px;
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  align-self: center;
}
.flex-item a {
  text-decoration: none;
  color: #fec63e;
}
.flex-item a:hover {
  font-weight: bold;
}
.flex-item-img {
  flex: 1;
  text-align: center;
}
/*Footer*/
.footer {
  width: 100%;
  height: 80px;
  background: #000;
}
.assinatura p {
  color: #fec63e;
  text-align: center;
  font-size: 1em;
  font-style: italic;
  padding: 33px;
}
