/*Reset*/
body,
h1,
h2,
ul {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Georgia, serif;
  color: #000;
  background: #fec63e;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
/*Menu*/
.menu-background {
  background: #000;
}
.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  color: #fec63e;
}
.menu-logo a {
  font-size: 1.125em;
  font-weight: bold;
  color: #fec63e;
  margin: 0 5px;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.menu-logo::after {
  content: "";
  display: block;
  width: 247px;
  height: 2px;
  background: #fec63e;
  margin-top: 5px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav a {
  font-size: 1.125em;
  display: block;
  padding: 5px;
  border: 2px solid #fec63e;
  border-radius: 5px;
}
.menu-nav ul li a:hover {
  color: #000;
  background: #fec63e;
}

/*Introdução*/
.titulo {
  font-size: 2.225em;
  line-height: 1;
  letter-spacing: 0.1em;
  padding-top: 30px;
  text-align: center;
}
.titulo b {
  background: #000;
  color: #fec63e;
}
.subtitulo {
  font-size: 0.875em;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
  padding-top: 10px;
}
.subtitulo::after {
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  background: #000;
  margin: 0 auto;
  margin-top: 10px;
}
/*Portifolio*/
.menu-portfolio {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.portfolio-nav ul li {
  display: block;
  float: left;
}
.portfolio-nav a {
  font-size: 1.125em;
  text-align: center;
  display: block;
  width: 170px;
  padding: 7px;
  background: #000;
  color: #fec63e;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 8px 5px;
}
.btn2 {
  height: 39px;
  width: 151.48px;
  margin: 8px 5px;
}
.portfolio-nav ul li a:hover {
  color: #000;
  background: #fec63e;
  border: 2px solid #000;
}
.portfolio-img {
  width: 350px;
}

/*Footer*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 36px;
  background: #000;
}
.footer p {
  text-align: center;
  font-size: 1em;
  color: #fec63e;
  letter-spacing: 0.1em;
}
.footer p::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background: #fec63e;
  margin: 0 auto;
  margin-top: 4px;
}
.footer strong {
  color: #000;
  background: #fec63e;
}
/*Javascript*/
.js [data-slide] > * {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}
.js [data-anime] {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}
.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}
